.post {
  max-width: 640px;

  margin: 25px auto;
  position: relative;
  @media (max-width: 910px) {
    margin: 25px 0 25px 165px;
  }
  @media (max-width: 840px) {
    margin-right: 20px;
  }
}

.postImageRow {
  position: relative;
  margin: 0 -25px;
}

.postImage {
  position: absolute;
}

.title {
  font-weight: 500 !important;
  letter-spacing: -0.1px !important;
  font-size: 22px;
  cursor: pointer;
  color: #000 !important;
}

.text {
  width: 100%;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  color: #000 !important;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 4;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.paper {
  border-radius: 8px;
}

.postFooter {
  width: 100%;
  ul {
    margin-top: 10px !important;
  }
  li {
    display: flex;
    align-items: center;

    font-size: 15px;
    button {
      padding: 0;
    }
    svg {
      height: 21px;
      width: 21px;
      margin-right: 5px !important;
      fill: #595959;
      path {
        fill: #595959;
      }
    }

    p {
      margin: 0 !important;

      position: relative;
      color: #000 !important;
    }
    svg {
      margin-right: 5px !important;
      margin-left: 5px !important;
    }
  }
}

.postInner {
  padding: 20px !important;
}

.postFooterInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
