.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  * {
    li {
      color: #000 !important;
    }
  }
  li {
    color: #000 !important;
  }
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }
  b {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000 !important;
  }
  span {
    color: #000 !important;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 16px;
  }

  @media (max-width: 500px) {
    margin-bottom: 5px !important;
    b {
      font-size: 14px !important;
    }
    span {
      font-size: 11px;
    }
  }
}

.titleText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  b {
    margin-bottom: 2px;
  }
}

.text {
  color: #000 !important;
  word-wrap: break-word;
  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.button {
  width: 105px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-top: 7px;
  @media (max-width: 500px) {
    margin-top: 0;
  }
}

.buttonDots {
  min-width: 40px !important;
  width: 40px !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0.5;
  left: -7px !important;
}

.buttonMenu {
  margin-bottom: 10px !important;
  margin-top: 3px !important;

  @media (max-width: 500px) {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
    button {
      font-size: 11px !important;
    }
  }
}
