.form {
  position: relative !important;
  margin-bottom: 22px !important;
  margin-top: 22px !important;
  height: 100%;
  @media (max-width: 500px) {
    margin: 15px 0 !important;
  }
}

.textarea {
  position: relative !important;
  cursor: default;
  display: flex;
  margin: 0 auto !important;
  width: 100%;
  font-size: inherit;
  background-color: #f7f7f7 !important;
  border: 1px solid rgba(0, 0, 0, 0.03) !important;
  padding: 12px 11px 11px !important;
  border-radius: 10px !important;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fff !important;
    border-color: #bdd6fa !important;
    box-shadow: 0 0 0 3px rgb(70 131 217 / 12%) !important;
    padding: 12px 11px 11px !important;
  }

  &::after,
  &::before {
    display: none;
  }
}

.button {
  background-color: #182a3a !important;

  padding: 10px 20px !important;

  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;

  color: #c3d1d9 !important;
  align-items: center;
  &:hover {
    background-color: rgba(227, 50, 65, 1) !important;
  }

  &:disabled {
    background-color: #acc3d7ee !important;
    cursor: wait;
  }

  svg {
    fill: #c3d1d9 !important;
    margin-right: 7px !important;
  }
  position: absolute !important;
  right: 15px !important;
  bottom: 12px !important;
}
