.fullPost {
  padding: 24px 25px 25px;
  font-size: 22px;
  position: relative;

  p {
    color: #000;
    margin-bottom: 13px;
    font-size: 17px;
    word-wrap: break-word;
  }
}
.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
}
.userInfo {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;

  justify-content: space-between;
  img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
  }
  b {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
    color: #000;
  }
}

.subscribe {
  background-color: #182a3a;
  padding: 5px 15px !important;
  height: 35px !important;
  font-size: 16px;
  letter-spacing: 2px;
  color: #c3d1d9;
  &:hover {
    background-color: rgba(227, 50, 65, 1);
  }

  &:disabled {
    background-color: #acc3d7ee;
    cursor: wait;
  }

  svg {
    fill: #c3d1d9;
    margin-right: 10px;
  }
}

.editButtons {
  position: absolute;
  right: 25px;
  top: 20px;
  button {
    &:hover {
      background: none;
    }
  }
  svg {
    &:hover {
      fill: rgba(227, 50, 65, 1);
    }
  }
}
