@import "../../styles/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: -70px;
  justify-content: space-between;
  padding: 80px 10px 10px;
  // overflow: hidden;
  * {
    color: #c3d1d9;
  }
}
.top {
  height: 80px;
  margin: 10px 0 20px 0;
  @media (max-width: 1130px) {
    height: 60px;
    margin: 0px 0 10px 0;
  }
  @media (max-width: 500px) {
    height: 40px;
  }
  @media (max-width: 375px) {
    display: none;
  }
}
.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left {
  flex: 0.4;
  width: 100%;

  margin-right: 10px;
  @media (max-width: 840px) {
    flex: 1;
  }
}
.right {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  width: 100%;
  @media (max-width: 840px) {
    flex: 1;
  }
}
.transcription {
  width: 100%;
  background: $bgHeader;
  padding: 20px;
  // overflow: auto;
  span {
    font-size: 25px;
    line-height: 35px;

    p {
      text-indent: 15px;
      text-align: justify;
    }
  }
  a {
    color: blue;
  }

  @media (max-width: 1130px) {
    .title {
      font-size: 25px;
    }
    p {
      font-size: 20px;
      text-align: justify;
      line-height: 30px;
    }
  }
  @media (max-width: 840px) {
    margin-bottom: 10px;
  }
  @media (max-width: 500px) {
    padding: 10px;
    .title {
      font-size: 20px;
    }
    p {
      font-size: 15px;
      text-align: justify;
      line-height: 25px;
    }
  }
}
.hardSkils {
  height: 80px;
  background: $bgHeader;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 1130px) {
    height: 60px;
    p {
      display: none;
    }
  }
  @media (max-width: 840px) {
    img {
      height: 30px !important;
      width: 30px !important;
    }
  }
  @media (max-width: 500px) {
    height: 40px;
    img {
      height: 20px !important;
      width: 20px !important;
    }
  }
}

.aboutMe {
  width: 100%;
  flex: 0.5;
  background: $bgHeader;
  padding: 20px;
  &:first-child {
    margin-bottom: 10px;
  }
  ul {
    width: 100%;
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
    li {
      margin: 15px;
      margin-right: 40px;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        height: 35px;
        width: 35px;
      }
    }
  }

  @media (max-width: 1130px) {
    ul {
      li {
        margin: 10px;
        margin-right: 30px;
      }
    }
  }
  @media (max-width: 500px) {
    padding: 10px;
    .title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    ul {
      margin-left: 0px;
      li {
        margin: 5px;
        margin-right: 10px;
        font-size: 13px;
      }
    }
    img {
      margin-right: 5px;
      height: 25px !important;
      width: 25px !important;
    }
  }
}

.skilItem {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  left: -100px;
  animation: slide 44s infinite;
  animation-timing-function: linear;
  width: 45px;

  img {
    height: 35px;
    width: 35px;
  }
  p {
    text-align: center;
    font-size: 12px;
  }
}

.title {
  margin-bottom: 10px;
  b {
    font-weight: normal;
    color: rgba(227, 50, 65);
  }
}

// Animation =====================================================================================================================

@keyframes slide {
  100% {
    left: 100%;
  }
}

.skilItem:nth-child(2) {
  animation-delay: 2s;
}
.skilItem:nth-child(3) {
  animation-delay: 4s;
}
.skilItem:nth-child(4) {
  animation-delay: 6s;
}
.skilItem:nth-child(5) {
  animation-delay: 8s;
}
.skilItem:nth-child(6) {
  animation-delay: 10s;
}
.skilItem:nth-child(7) {
  animation-delay: 12s;
}
.skilItem:nth-child(8) {
  animation-delay: 14s;
}
.skilItem:nth-child(9) {
  animation-delay: 16s;
}
.skilItem:nth-child(10) {
  animation-delay: 18s;
}
.skilItem:nth-child(11) {
  animation-delay: 20s;
}
.skilItem:nth-child(12) {
  animation-delay: 22s;
}
.skilItem:nth-child(13) {
  animation-delay: 24s;
}
.skilItem:nth-child(14) {
  animation-delay: 26s;
}
.skilItem:nth-child(15) {
  animation-delay: 28s;
}
.skilItem:nth-child(16) {
  animation-delay: 30s;
}
.skilItem:nth-child(17) {
  animation-delay: 32s;
}
.skilItem:nth-child(18) {
  animation-delay: 34s;
}
.skilItem:nth-child(19) {
  animation-delay: 36s;
}
.skilItem:nth-child(20) {
  animation-delay: 38s;
}
.skilItem:nth-child(21) {
  animation-delay: 40s;
}
.skilItem:nth-child(22) {
  animation-delay: 42s;
}
