.slugRow {
  max-width: 640px;
  width: 100%;

  margin: 25px auto;
}
.headerPenButton {
  background-color: #182a3a !important;
  position: fixed !important;
  padding: 10px !important;
  padding-right: 20px !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  letter-spacing: 2px !important;
  top: 90px !important;
  left: 20px !important;
  color: #c3d1d9 !important;
  align-items: center !important;
  &:hover {
    background-color: rgba(227, 50, 65, 1) !important;
  }

  &:disabled {
    background-color: #acc3d7ee !important;
    cursor: wait !important;
  }

  svg {
    fill: #c3d1d9 !important;
    margin-right: 7px;
  }
}
