.header {
  display: flex;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background: -webkit-linear-gradient(171deg, rgba(18, 18, 18), rgba(24, 24, 24)) !important;
  border-bottom: 1px solid #182a3a;
  height: 70px;
  position: sticky;
  z-index: 1000;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  height: 55px;
  width: 330px;
  border-radius: 3px;
  opacity: 0.7;
  overflow: hidden;
  z-index: 100;
}

.left {
  width: 35%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.right {
  width: 35%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.nav {
  position: relative;
  height: 35px;
  width: 110px;
  background-color: #182a3a;
  text-align: center;
  border-radius: 3px;
  // transform: translateX(-200%);
  // opacity: 0;
  // animation: start 0.3s ease-in-out forwards;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: rgba(227, 50, 65, 1);
    &:after {
      width: 100%;
      left: 0;
    }
  }
  &:after {
    content: "";
    height: 2px;
    width: 0;
    background-color: rgba(227, 50, 65, 0.6);
    position: absolute;
    bottom: -18px;
    left: 50%;
    transition: all 0.2s ease-in-out;
  }
  button {
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    font-weight: 100;
    align-items: center;
    color: #c3d1d9;
  }
}

.active {
  background-color: rgba(227, 50, 65, 1) !important;
  &:after {
    width: 100%;
    left: 0;
  }
}

.navSearch {
  background-color: rgba(100, 105, 113, 0.6) !important;
  width: 250px;
  border-radius: 5px;
  margin-right: 60px !important;
  &:after {
    display: none;
  }
  &:hover {
    background-color: rgba(100, 105, 113, 0.6) !important;

    fieldset {
      border: 2px solid rgba(227, 50, 65, 0.6) !important;
    }
  }
  &:focus-within {
    background-color: rgba(255, 255, 255, 0.6) !important;
    fieldset {
      border: 2px solid rgba(0, 0, 0, 0.6) !important;
    }
  }
}

.search {
  width: 100% !important;
  input {
    height: 35px !important;
    padding: 0 10px !important;
  }
  label {
    display: none !important;
  }
}

.login {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 50px;
  &:hover {
    fill: rgba(227, 50, 65);
  }
}

.exitButton {
  position: absolute !important;
  background-color: #182a3a !important;
  color: #c3d1d9 !important;
  font-weight: 200 !important;
  height: 35px !important;
  right: 10px !important;
  bottom: -40px !important;
  letter-spacing: 1px !important;
  font-size: 15px !important;
  padding: 6px 12px !important;
  transition: all 0.15s ease-in-out !important;

  &:hover {
    background-color: rgba(227, 50, 65) !important;
  }
}

.headerAvatar {
  height: 35px;
  margin-right: 20px;
  margin-left: 50px;
  cursor: pointer;
  background-color: #294863;
  text-align: center;
  border-radius: 4px;
  color: #c3d1d9;
  transition: all 0.15s ease-in-out;
  font-weight: 200;
  text-align: center;
  position: relative;
  &:hover {
    background-color: rgba(227, 50, 65, 1);
  }
}

.searchPopup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;

  margin: auto 0 !important;
  ul {
    align-items: center !important;
    padding: 0;

    li {
      padding: 0;
    }
    & > div {
      width: 100%;
    }
    * {
      width: 100%;
    }
  }
  .searchPopupbutton {
    padding: 10px;
  }
}
