@import "../../styles/colors.scss";
.wrapper {
  margin-top: -70px;
  padding-top: 70px;
}

.contacts {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  background: $bgHeader;
}

.map {
  width: 100%;
  padding: 30px;
  iframe {
    width: 100%;
  }
}
